<div>
    <nav class="navigation">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/products">Products</a>
        <button class="btnLogin-popup">Login</button>
    </nav>
</div>

