<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestRazorApp.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Header med Navbar -->
    <header>
        @await Html.PartialAsync("Partials/_HeaderPartial")
    </header>

        @await Html.PartialAsync("Partials/LoginBox/_LoginPartial")
    <!-- LoginBox (läggs UTANFÖR <main>) -->

    <!-- Main Content -->
    <main>
        <div class="page-content">
            @RenderBody()  <!-- Här laddas olika sidor in -->
        </div>
    </main>


    <!-- Footer -->
    <footer>
        @await Html.PartialAsync("Partials/_FooterPartial")
    </footer>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
