@page
@model IndexModel
@{
    ViewData["Title"] = "Financial Solutions";

}
<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
<div>
    <h1>Välkommen! </h1>
    <p>Det här är startsidan.</p>
</div>
